<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TODO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/todo/list">LIST</a>

        <!--        <a class="nav-link" href="#"> </a>
                <a class="nav-link" href="#"> </a>
                <a class="nav-link disabled"> </a>-->
      </div>

    </div>

  </div>


  <div class="navbar-collapse col-4">

    <form action="/todo/search" method="get" class="d-flex" role="search">
      <select class="form-select" name="searchOption">
        <option value="duedate">날짜</option>
        <option value="todo">키워드</option>
      </select>
      <input class="form-control" type="text" name="keyword" placeholder="search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">search</button>
    </form>

    <ul>
      <span sec:authorize="isAuthenticated()">name: <span sec:authentication="principal.member.name"></span></span><br>
      <span sec:authorize="isAuthenticated()">id: <span sec:authentication="principal.member.id"></span></span>
    </ul>
  </div>

  <div class="col-1" >
    <ul>

      <span sec:authorize="hasRole('USER')">
            <a class="btn btn-outline-secondary" href="/member/info">내정보</a>
        </span>
      <span sec:authorize="hasRole('ADMIN')">
            <a class="btn btn-outline-secondary" href="/admin/list">회원리스트</a>
          </span>
      <span sec:authorize="isAuthenticated()"><a class="btn btn-outline-secondary" href="/auth/logout">로그아웃</a></span>
      <span sec:authorize="!isAuthenticated()"><a class="btn btn-outline-secondary" href="/login">로그인</a></span>
      <span sec:authorize="!isAuthenticated()"><a class="btn btn-outline-secondary" href="/member/save">회원가입</a></span>

    </ul>

  </div>


  
</nav>
