<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">TODO</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/todo/list">LIST</a>
        <!--        <a class="nav-link" href="#"> </a>
                <a class="nav-link" href="#"> </a>
                <a class="nav-link disabled"> </a>-->
      </div>

      <div>
        <ul>
        <li sec:authorize="isAuthenticated()"><span sec:authentication="principal.member.name"></span></li>
        <li sec:authorize="isAuthenticated()"><span sec:authentication="principal.member.id"></span></li>

          <tr th:each="member : ${mlist}">
          <span sec:authorize="isAuthenticated()"><a class="btn" th:href="@{/member/info(idx=${mlist.idx})}">내정보</a></span>
          </tr>
        <span sec:authorize="isAuthenticated()"><a class="btn" href="/auth/logout">로그아웃</a></span>
        <span sec:authorize="!isAuthenticated()"><a class="btn" href="/login">로그인</a></span>
        <span sec:authorize="!isAuthenticated()"><a class="btn" href="/member/save">회원가입</a></span>

        </ul>
      </div>

    </div>
  </div>
</nav>
